/* <-- Main Design Shared --> */
body {
    margin: 0;
    font-family: "Playfair Display", sans-serif;
}
.header-nav-wrapper {
    height: 64px;
    background: white;
}
.header-nav-wrapper > .nav-inner-wrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    position: relative;
}
.nav-inner-wrapper > .each-nav {
    width: 240px;
    background: white;
    margin: 0px 12px;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 4px solid grey;
    border-bottom: none;
    text-decoration: none;
    color: lightseagreen;
    font-weight: bold;
}
.nav-inner-wrapper > .each-nav:hover {
    background: rgb(245, 245, 245);
}
.nav-inner-wrapper > #main-nav-home {
    color: rgb(117, 13, 117);
    background: rgb(216, 216, 216);
}
.nav-inner-wrapper > #main-nav-home:hover {
    background: rgb(204, 204, 204);
}
.generic-sub-heading {
    margin: 0;
    font-size: 24px;
}
#grid-main-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background: #303030;
    height: calc(100vh - 88px);
    padding: 12px;
}
.fun-fact-heading {
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}
.fun-fact-list {
    font-size: 20px;
    padding-right: 12px;
}
.fun-fact-list > .fun-fact {
    padding-bottom: 16px;
}
.photoshoot-pic {
    margin: 0;
    height: 100%;
    width: 100%;
}