/* <-- Meme Main CSS --> */

/*
#845EC2
#F3C5FF
#00C9A7
#FEFEDF

*/

body {
    margin: 0;
}
.top-nav-main-link {
    font-size: 24px;
    width: 40%;
    text-align: center;
    padding: 16px 0;
    background: #503058;
    color: white;
}
.header-main-page {
    display: inline-flex;
    width: 100%;
}
.top-nav-main-list {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: #f3c5ff;
}
.top-nav-link:link {
    margin: 0 18px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}
.top-nav-link:hover {
    color: #845ec2;
}
.corndog-header {
    text-align: center;
    background: #fefedf;
    height: 64px;
    line-height: 64px;
    border-top: 4px solid #00c9a7;
    border-bottom: 4px solid #00c9a7;
    margin-bottom: 12px;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .top-nav-main-link {
        font-size: 18px;
        width: 50%;
    }
    .top-nav-link:link {
        font-size: 14px;
    }
    .corndog-header {
        font-size: 20px;
    }
}

/* <------------> */

#main-corndog-header {
    background: #F3C5FF;
    height: 128px;
    line-height: 128px;
}
.corndog-question {
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 4px;
}
.main-corndog-para {
    letter-spacing: 0.1em;
}
.corndog-article-generic-wrapper {
    background: #acd6cf;
    padding: 4px 24px;
    border-radius: 12px;
    margin: 0px 24px 24px;
    border: 8px solid lightskyblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.bill-with-corn-dog {
    padding: 12px;
    display: flex;
    justify-content: center;
}